// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.main__header {
  padding: 32px 0 21px 6px;
  color: $color-light;
  @include media-laptop {
    padding: 32px 0 50px 0;
  }
}
