@charset "UTF-8";

// 1. Configuration and helpers
@import "abstracts/constants";
@import "abstracts/mixins";

// 2. Vendors
@import "vendors/normalize";

// 3. Base stuff
@import "base/base";
@import "base/typography";
@import "base/icons";

// 4. Layout-related sections
@import "layout/checkout";
@import "layout/cart";
@import "layout/form";
@import "layout/footer";
@import "layout/contact";
@import "layout/wrapper";

// 5. Components
@import "components/button";
@import "components/field";
@import "components/counter";
@import "components/checkbox";
@import "components/messages";
