$color-dark: #333333;
$color-light: #4e5150;
$color-lighter: #4f4f4f;
$color-lightest: #828282;
$color-white: #ffffff;

$color-background-light: #f2f2f2;
$color-background-dark: #e0e0e0;

$color-accent: #f2994a;

$content-width: 961px;
$tablet-width: 768px;
$mobile-width: 320px;
