.message-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding-top: 30px;

  .message {
    width: 350px;
    max-width: 370px;
    text-align: center;

    border: 1px solid $color-line;
    color: $color-white;

    border-radius: 12px;

    padding: 10px 30px;

    text-transform: uppercase;

    @include font($size: 12px, $weight: 400, $spacing: 1.2px);

    z-index: 100;

    visibility: visible;
    transition: transform 0.5s ease, opacity 0.35s linear;

    &_success {
      background-color: #2e7d32;
    }

    &_error {
      background-color: #d32f2f;
    }

    &_warning {
      background-color: #ed6c02;
    }
  }
}

.message.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}
