.success-message {
  position: fixed;
  top: 30px;
  left: calc(50% - 315px / 2);

  display: flex;
  justify-content: center;
  width: 315px;

  text-transform: uppercase;

  background-color: hsl(113, 43%, 59%);
  border: 1px solid $color-line;
  color: $color-white;

  border-radius: 12px;

  padding: 10px 30px;

  @include font($size: 12px, $weight: 400, $spacing: 1.2px);

  opacity: 1;
  transition: opacity 1.2s ease-in-out;
  transition: transform 0.85s ease;
}

.success-message.hidden {
  transform: translateY(-100px);
  opacity: 0;
}

.success-message.cross {
  background-color: hsl(113, 43%, 45%);
}
