// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  color: $color-line;
  padding: 95px 0 15px;
  a {
    color: inherit;
  }
}
