// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding: 15px 0;
  a {
    color: inherit;
  }
}
